/* css styles for the about page */

#about_text {
    width: 150%;  /* Adjust as needed */
    margin: auto;
}
body {
    padding-right: 20%;  /* Adjust as needed */
    padding-left: 10%;  /* Adjust as needed */
}
