/* css styles for the about page */

#toc {
    width: 100%;
    max-width: 30em; /* adjust this value as needed */
}
.narrow_histograms{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.narrow_histograms_definition{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.narrow_text{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}